h1{
    text-align: center;
    margin-bottom: 2px;
    }
    section{
        border: 2px auto solid black;
        text-align: justify;
    }
    th{
        background-color: black;
        color: white;
    }
    img{
        width:200px;
        height:200px;
        margin:10px;
        border:2px solid black;
    }
    input{
        background-color: blue;
    }
    button{
        background-color: rgb(245, 193, 95);
        color: orange;
    }
    ol{
        border:2px solid black;
    }